@import url('https://fonts.googleapis.com/css?family=PT+Mono');

body {
  background-color: black;
}

h1 {
  font-family: 'PT Mono' ;
  font-weight: 400;
  align-items: center;
  color: white;
  text-align: center;
}

p {
  color: #5AB945;
  font-family: 'PT Mono' ;
  text-align: center;
  margin: 50px;
}

h2 {
  font-family: 'PT Mono' ;
  align-items: center;

}

nav {
  margin-right: 100px;
}
#storeinfo {
  float: inherit;
  align-self: center;
  color: white;
  text-align: center;
  display: inline-block;
  width: 808px;
  height: 300px;
  margin: 172px;
  background-color: #FF273E;
  font-family: 'PT Mono' ;
  f
}


li {
  list-style-type: none;

}
