@import url('https://fonts.googleapis.com/css?family=PT+Mono');

body {
  background-color: black;
}

h1 {
  font-family: 'PT Mono' ;
  font-weight: 400;
  align-items: center;
  color: white;
  text-align: center;
}

p {
  color: #5AB945;
  font-family: 'PT Mono' ;
  text-align: center;
  margin: 50px;
}

h2 {
  font-family: 'PT Mono' ;
  align-items: center;

}

nav {
  margin-right: 100px;
}

#storeinfo {
  color: white;
  text-align: center;
  display: inline-block;
  width: 808px;
  height: 300px;
  position: abosolute;
  top: 50%;
  left: 50%;
  background-color: #FF273E;
  border: 1px solid black;
  font-family: 'PT Mono' ;
  f
}
li {
  list-style-type: none;

}
#storename {
  width: 708px;
  height: 130px;
  text-align: center;
  position: abosolute;
  padding: 50px;
  background-color: #282544;
}
